@layer base {
  :root {
    --foundation-black-0: 255 255 255;
    --foundation-black-10: 250 250 250;
    --foundation-black-20: 245 245 245;
    --foundation-black-30: 235 235 235;
    --foundation-black-40: 222 222 222;
    --foundation-black-50: 191 191 191;
    --foundation-black-60: 176 176 176;
    --foundation-black-70: 163 163 163;
    --foundation-black-80: 148 148 148;
    --foundation-black-90: 133 133 133;
    --foundation-black-100: 117 117 117;
    --foundation-black-200: 102 102 102;
    --foundation-black-300: 87 87 87;
    --foundation-black-400: 74 74 74;
    --foundation-black-500: 59 59 59;
    --foundation-black-600: 46 46 46;
    --foundation-black-700: 28 28 28;
    --foundation-black-800: 13 13 13;
    --foundation-black-900: 0 0 0;

    --semantic-error-solid-1: 255 252 252;
    --semantic-error-solid-2: 255 247 247;
    --semantic-error-solid-3: 255 239 239;
    --semantic-error-solid-4: 255 229 229;
    --semantic-error-solid-5: 253 216 216;
    --semantic-error-solid-6: 249 198 198;
    --semantic-error-solid-7: 243 174 175;
    --semantic-error-solid-8: 235 144 145;
    --semantic-error-solid-9: 229 72 77;
    --semantic-error-solid-10: 217 61 66;
    --semantic-error-solid-11: 198 42 47;
    --semantic-error-solid-12: 100 23 35;

    --semantic-success-solid-1: 251 254 252;
    --semantic-success-solid-2: 242 252 245;
    --semantic-success-solid-3: 233 249 238;
    --semantic-success-solid-4: 221 243 228;
    --semantic-success-solid-5: 204 235 215;
    --semantic-success-solid-6: 180 223 196;
    --semantic-success-solid-7: 146 206 172;
    --semantic-success-solid-8: 91 185 140;
    --semantic-success-solid-9: 48 164 108;
    --semantic-success-solid-10: 41 151 100;
    --semantic-success-solid-11: 24 121 78;
    --semantic-success-solid-12: 25 59 45;

    --semantic-warning-solid-1: 254 253 251;
    --semantic-warning-solid-2: 255 249 237;
    --semantic-warning-solid-3: 255 243 208;
    --semantic-warning-solid-4: 255 236 183;
    --semantic-warning-solid-5: 255 224 161;
    --semantic-warning-solid-6: 245 208 140;
    --semantic-warning-solid-7: 228 187 120;
    --semantic-warning-solid-8: 214 163 92;
    --semantic-warning-solid-9: 255 197 61;
    --semantic-warning-solid-10: 255 186 26;
    --semantic-warning-solid-11: 145 89 48;
    --semantic-warning-solid-12: 79 52 34;

    --semantic-info-solid-1: 249 254 255;
    --semantic-info-solid-2: 241 252 255;
    --semantic-info-solid-3: 226 249 255;
    --semantic-info-solid-4: 210 244 253;
    --semantic-info-solid-5: 191 235 248;
    --semantic-info-solid-6: 165 220 237;
    --semantic-info-solid-7: 130 202 224;
    --semantic-info-solid-8: 70 184 216;
    --semantic-info-solid-9: 124 226 254;
    --semantic-info-solid-10: 114 219 248;
    --semantic-info-solid-11: 37 110 147;
    --semantic-info-solid-12: 25 64 77;

    --neutral-gray-dark-1: 22 22 22;
    --neutral-gray-dark-2: 28 28 28;
    --neutral-gray-dark-3: 35 35 35;
    --neutral-gray-dark-4: 40 40 40;
    --neutral-gray-dark-5: 46 46 46;
    --neutral-gray-dark-6: 52 52 52;
    --neutral-gray-dark-7: 62 62 62;
    --neutral-gray-dark-8: 80 80 80;
    --neutral-gray-dark-9: 112 112 112;
    --neutral-gray-dark-10: 126 126 126;
    --neutral-gray-dark-11: 160 160 160;
    --neutral-gray-dark-12: 237 237 237;
    --neutral-gray-light-1: 252 252 252;
    --neutral-gray-light-2: 248 248 248;
    --neutral-gray-light-3: 243 243 243;
    --neutral-gray-light-4: 237 237 237;
    --neutral-gray-light-5: 232 232 232;
    --neutral-gray-light-6: 226 226 226;
    --neutral-gray-light-7: 219 219 219;
    --neutral-gray-light-8: 199 199 199;
    --neutral-gray-light-9: 143 143 143;
    --neutral-gray-light-10: 133 133 133;
    --neutral-gray-light-11: 111 111 111;
    --neutral-gray-light-12: 23 23 23;

    --neutral-mauve-dark-1: 22 22 24;
    --neutral-mauve-dark-2: 28 28 28;
    --neutral-mauve-dark-3: 35 35 38;
    --neutral-mauve-dark-4: 40 40 44;
    --neutral-mauve-dark-5: 46 46 50;
    --neutral-mauve-dark-6: 52 52 58;
    --neutral-mauve-dark-7: 62 62 68;
    --neutral-mauve-dark-8: 80 79 87;
    --neutral-mauve-dark-9: 112 111 120;
    --neutral-mauve-dark-10: 126 125 134;
    --neutral-mauve-dark-11: 160 159 166;
    --neutral-mauve-dark-12: 237 237 239;
    --neutral-mauve-light-1: 253 252 253;
    --neutral-mauve-light-2: 249 248 249;
    --neutral-mauve-light-3: 244 242 244;
    --neutral-mauve-light-4: 238 237 239;
    --neutral-mauve-light-5: 233 232 234;
    --neutral-mauve-light-6: 228 226 228;
    --neutral-mauve-light-7: 220 219 221;
    --neutral-mauve-light-8: 200 199 203;
    --neutral-mauve-light-9: 144 142 150;
    --neutral-mauve-light-10: 134 132 141;
    --neutral-mauve-light-11: 110 110 119;
    --neutral-mauve-light-12: 26 21 35;

    --neutral-slate-dark-1: 21 23 24;
    --neutral-slate-dark-2: 26 29 30;
    --neutral-slate-dark-3: 32 36 37;
    --neutral-slate-dark-4: 38 41 43;
    --neutral-slate-dark-5: 43 47 49;
    --neutral-slate-dark-6: 49 53 56;
    --neutral-slate-dark-7: 58 63 66;
    --neutral-slate-dark-8: 76 81 85;
    --neutral-slate-dark-9: 105 113 119;
    --neutral-slate-dark-10: 120 127 133;
    --neutral-slate-dark-11: 155 161 166;
    --neutral-slate-dark-12: 236 237 238;
    --neutral-slate-light-1: 251 252 253;
    --neutral-slate-light-2: 248 249 250;
    --neutral-slate-light-3: 241 243 245;
    --neutral-slate-light-4: 236 238 240;
    --neutral-slate-light-5: 230 232 235;
    --neutral-slate-light-6: 223 227 230;
    --neutral-slate-light-7: 215 219 223;
    --neutral-slate-light-8: 193 200 205;
    --neutral-slate-light-9: 136 144 150;
    --neutral-slate-light-10: 126 134 140;
    --neutral-slate-light-11: 104 112 118;
    --neutral-slate-light-12: 17 24 28;

    --neutral-sage-dark-1: 20 23 22;
    --neutral-sage-dark-2: 25 29 27;
    --neutral-sage-dark-3: 31 36 33;
    --neutral-sage-dark-4: 37 42 39;
    --neutral-sage-dark-5: 42 47 44;
    --neutral-sage-dark-6: 48 54 51;
    --neutral-sage-dark-7: 57 63 60;
    --neutral-sage-dark-8: 74 82 78;
    --neutral-sage-dark-9: 102 115 109;
    --neutral-sage-dark-10: 117 129 123;
    --neutral-sage-dark-11: 153 162 158;
    --neutral-sage-dark-12: 236 238 237;
    --neutral-sage-light-1: 251 253 252;
    --neutral-sage-light-2: 248 250 249;
    --neutral-sage-light-3: 241 244 243;
    --neutral-sage-light-4: 236 239 237;
    --neutral-sage-light-5: 230 233 232;
    --neutral-sage-light-6: 223 228 226;
    --neutral-sage-light-7: 215 220 218;
    --neutral-sage-light-8: 194 201 198;
    --neutral-sage-light-9: 138 145 142;
    --neutral-sage-light-10: 128 135 132;
    --neutral-sage-light-11: 106 113 110;
    --neutral-sage-light-12: 17 28 24;

    --neutral-olive-dark-1: 21 23 21;
    --neutral-olive-dark-2: 26 29 25;
    --neutral-olive-dark-3: 32 36 31;
    --neutral-olive-dark-4: 38 41 37;
    --neutral-olive-dark-5: 43 47 42;
    --neutral-olive-dark-6: 49 53 48;
    --neutral-olive-dark-7: 59 63 58;
    --neutral-olive-dark-8: 76 81 75;
    --neutral-olive-dark-9: 104 115 102;
    --neutral-olive-dark-10: 119 129 117;
    --neutral-olive-dark-11: 154 162 153;
    --neutral-olive-dark-12: 236 238 236;
    --neutral-olive-light-1: 252 253 252;
    --neutral-olive-light-2: 248 250 248;
    --neutral-olive-light-3: 242 244 242;
    --neutral-olive-light-4: 236 239 236;
    --neutral-olive-light-5: 230 233 230;
    --neutral-olive-light-6: 224 228 224;
    --neutral-olive-light-7: 216 220 216;
    --neutral-olive-light-8: 195 200 194;
    --neutral-olive-light-9: 139 145 138;
    --neutral-olive-light-10: 129 135 128;
    --neutral-olive-light-11: 107 113 16;
    --neutral-olive-light-12: 20 30 18;

    --neutral-sand-dark-1: 22 22 21;
    --neutral-sand-dark-2: 28 28 26;
    --neutral-sand-dark-3: 35 35 32;
    --neutral-sand-dark-4: 40 40 38;
    --neutral-sand-dark-5: 46 46 43;
    --neutral-sand-dark-6: 53 52 49;
    --neutral-sand-dark-7: 62 62 58;
    --neutral-sand-dark-8: 81 80 75;
    --neutral-sand-dark-9: 113 112 105;
    --neutral-sand-dark-10: 127 126 119;
    --neutral-sand-dark-11: 161 160 154;
    --neutral-sand-dark-12: 237 237 236;
    --neutral-sand-light-1: 253 253 252;
    --neutral-sand-light-2: 249 249 248;
    --neutral-sand-light-3: 243 243 242;
    --neutral-sand-light-4: 238 238 236;
    --neutral-sand-light-5: 233 233 230;
    --neutral-sand-light-6: 227 227 224;
    --neutral-sand-light-7: 219 219 215;
    --neutral-sand-light-8: 200 199 193;
    --neutral-sand-light-9: 144 144 140;
    --neutral-sand-light-10: 134 134 130;
    --neutral-sand-light-11: 112 111 108;
    --neutral-sand-light-12: 27 27 24;

    --neutral-bronze-dark-1: 25 21 20;
    --neutral-bronze-dark-2: 31 25 23;
    --neutral-bronze-dark-3: 42 33 31;
    --neutral-bronze-dark-4: 51 40 36;
    --neutral-bronze-dark-5: 59 46 41;
    --neutral-bronze-dark-6: 69 53 48;
    --neutral-bronze-dark-7: 87 67 60;
    --neutral-bronze-dark-8: 116 89 78;
    --neutral-bronze-dark-9: 161 128 114;
    --neutral-bronze-dark-10: 176 140 125;
    --neutral-bronze-dark-11: 203 163 147;
    --neutral-bronze-dark-12: 249 237 231;
    --neutral-bronze-light-1: 253 252 252;
    --neutral-bronze-light-2: 253 248 246;
    --neutral-bronze-light-3: 248 241 238;
    --neutral-bronze-light-4: 242 232 228;
    --neutral-bronze-light-5: 234 221 215;
    --neutral-bronze-light-6: 224 206 199;
    --neutral-bronze-light-7: 209 185 176;
    --neutral-bronze-light-8: 191 160 148;
    --neutral-bronze-light-9: 161 128 114;
    --neutral-bronze-light-10: 151 118 105;
    --neutral-bronze-light-11: 132 99 88;
    --neutral-bronze-light-12: 67 48 43;

    --color-tomato-dark-1: 29 20 18;
    --color-tomato-dark-2: 42 20 16;
    --color-tomato-dark-3: 59 24 19;
    --color-tomato-dark-4: 72 26 20;
    --color-tomato-dark-5: 84 28 21;
    --color-tomato-dark-6: 101 32 22;
    --color-tomato-dark-7: 127 35 21;
    --color-tomato-dark-8: 164 42 18;
    --color-tomato-dark-9: 229 77 46;
    --color-tomato-dark-10: 236 94 65;
    --color-tomato-dark-11: 241 106 80;
    --color-tomato-dark-12: 254 239 236;
    --color-tomato-light-1: 255 252 252;
    --color-tomato-light-2: 255 248 247;
    --color-tomato-light-3: 255 240 238;
    --color-tomato-light-4: 255 230 226;
    --color-tomato-light-5: 253 216 211;
    --color-tomato-light-6: 250 199 190;
    --color-tomato-light-7: 243 176 162;
    --color-tomato-light-8: 234 146 128;
    --color-tomato-light-9: 229 77 46;
    --color-tomato-light-10: 219 67 36;
    --color-tomato-light-11: 202 50 20;
    --color-tomato-light-12: 52 23 17;

    --color-red-dark-1: 31 19 21;
    --color-red-dark-2: 41 20 21;
    --color-red-dark-3: 60 24 26;
    --color-red-dark-4: 72 26 29;
    --color-red-dark-5: 84 27 31;
    --color-red-dark-6: 103 30 34;
    --color-red-dark-7: 130 32 37;
    --color-red-dark-8: 170 36 41;
    --color-red-dark-9: 229 72 77;
    --color-red-dark-10: 242 85 90;
    --color-red-dark-11: 255 99 105;
    --color-red-dark-12: 254 236 238;
    --color-red-light-1: 255 252 252;
    --color-red-light-2: 255 248 248;
    --color-red-light-3: 255 239 239;
    --color-red-light-4: 255 229 229;
    --color-red-light-5: 253 216 216;
    --color-red-light-6: 249 198 198;
    --color-red-light-7: 243 174 175;
    --color-red-light-8: 235 144 145;
    --color-red-light-9: 229 72 77;
    --color-red-light-10: 220 61 67;
    --color-red-light-11: 205 43 49;
    --color-red-light-12: 56 19 22;

    --color-crimson-dark-1: 29 20 24;
    --color-crimson-dark-2: 39 20 28;
    --color-crimson-dark-3: 60 24 39;
    --color-crimson-dark-4: 72 26 45;
    --color-crimson-dark-5: 84 27 51;
    --color-crimson-dark-6: 100 29 59;
    --color-crimson-dark-7: 128 29 69;
    --color-crimson-dark-8: 174 25 85;
    --color-crimson-dark-9: 233 61 130;
    --color-crimson-dark-10: 240 79 136;
    --color-crimson-dark-11: 247 97 144;
    --color-crimson-dark-12: 254 236 244;
    --color-crimson-light-1: 255 252 253;
    --color-crimson-light-2: 255 247 251;
    --color-crimson-light-3: 254 239 246;
    --color-crimson-light-4: 252 229 240;
    --color-crimson-light-5: 249 216 231;
    --color-crimson-light-6: 244 198 219;
    --color-crimson-light-7: 237 173 200;
    --color-crimson-light-8: 229 143 177;
    --color-crimson-light-9: 233 61 130;
    --color-crimson-light-10: 224 49 119;
    --color-crimson-light-11: 211 30 102;
    --color-crimson-light-12: 61 13 29;

    --color-pink-dark-1: 31 18 27;
    --color-pink-dark-2: 39 20 33;
    --color-pink-dark-3: 58 24 47;
    --color-pink-dark-4: 69 26 55;
    --color-pink-dark-5: 80 27 63;
    --color-pink-dark-6: 96 29 72;
    --color-pink-dark-7: 122 29 90;
    --color-pink-dark-8: 167 24 115;
    --color-pink-dark-9: 214 64 159;
    --color-pink-dark-10: 227 75 169;
    --color-pink-dark-11: 246 91 182;
    --color-pink-dark-12: 254 235 247;
    --color-pink-light-1: 255 252 254;
    --color-pink-light-2: 255 247 252;
    --color-pink-light-3: 254 238 248;
    --color-pink-light-4: 252 229 243;
    --color-pink-light-5: 249 216 236;
    --color-pink-light-6: 243 198 226;
    --color-pink-light-7: 236 173 212;
    --color-pink-light-8: 227 142 195;
    --color-pink-light-9: 214 64 159;
    --color-pink-light-10: 210 49 151;
    --color-pink-light-11: 205 29 141;
    --color-pink-light-12: 59 10 42;

    --color-plum-dark-1: 29 19 29;
    --color-plum-dark-2: 37 20 37;
    --color-plum-dark-3: 52 26 52;
    --color-plum-dark-4: 62 29 64;
    --color-plum-dark-5: 72 33 75;
    --color-plum-dark-6: 84 38 88;
    --color-plum-dark-7: 105 45 111;
    --color-plum-dark-8: 136 56 148;
    --color-plum-dark-9: 171 74 186;
    --color-plum-dark-10: 189 84 198;
    --color-plum-dark-11: 216 100 216;
    --color-plum-dark-12: 251 236 252;
    --color-plum-light-1: 254 252 255;
    --color-plum-light-2: 255 248 255;
    --color-plum-light-3: 252 239 252;
    --color-plum-light-4: 249 229 249;
    --color-plum-light-5: 243 217 244;
    --color-plum-light-6: 235 200 237;
    --color-plum-light-7: 223 175 227;
    --color-plum-light-8: 207 145 216;
    --color-plum-light-9: 171 74 186;
    --color-plum-light-10: 164 60 180;
    --color-plum-light-11: 156 43 173;
    --color-plum-light-12: 52 12 59;

    --color-purple-dark-1: 27 20 29;
    --color-purple-dark-2: 34 21 39;
    --color-purple-dark-3: 48 26 58;
    --color-purple-dark-4: 58 30 72;
    --color-purple-dark-5: 67 33 85;
    --color-purple-dark-6: 78 38 103;
    --color-purple-dark-7: 95 45 132;
    --color-purple-dark-8: 121 56 178;
    --color-purple-dark-9: 142 78 198;
    --color-purple-dark-10: 157 91 210;
    --color-purple-dark-11: 191 122 240;
    --color-purple-dark-12: 247 236 252;
    --color-purple-light-1: 254 252 254;
    --color-purple-light-2: 253 250 255;
    --color-purple-light-3: 249 241 254;
    --color-purple-light-4: 243 231 252;
    --color-purple-light-5: 237 219 249;
    --color-purple-light-6: 227 204 244;
    --color-purple-light-7: 211 180 237;
    --color-purple-light-8: 190 147 228;
    --color-purple-light-9: 142 78 198;
    --color-purple-light-10: 132 69 188;
    --color-purple-light-11: 121 58 175;
    --color-purple-light-12: 43 14 68;

    --color-violet-dark-1: 23 21 31;
    --color-violet-dark-2: 28 23 43;
    --color-violet-dark-3: 37 30 64;
    --color-violet-dark-4: 44 34 80;
    --color-violet-dark-5: 50 39 95;
    --color-violet-dark-6: 57 44 114;
    --color-violet-dark-7: 68 53 146;
    --color-violet-dark-8: 88 66 195;
    --color-violet-dark-9: 110 86 207;
    --color-violet-dark-10: 124 102 220;
    --color-violet-dark-11: 158 140 252;
    --color-violet-dark-12: 241 238 254;
    --color-violet-light-1: 253 252 254;
    --color-violet-light-2: 251 250 255;
    --color-violet-light-3: 245 242 255;
    --color-violet-light-4: 237 233 254;
    --color-violet-light-5: 228 222 252;
    --color-violet-light-6: 215 207 249;
    --color-violet-light-7: 196 184 243;
    --color-violet-light-8: 170 153 236;
    --color-violet-light-9: 110 86 207;
    --color-violet-light-10: 100 79 193;
    --color-violet-light-11: 87 70 175;
    --color-violet-light-12: 32 19 75;

    --color-indigo-dark-1: 19 22 32;
    --color-indigo-dark-2: 21 25 45;
    --color-indigo-dark-3: 25 33 64;
    --color-indigo-dark-4: 28 39 79;
    --color-indigo-dark-5: 31 44 92;
    --color-indigo-dark-6: 34 52 110;
    --color-indigo-dark-7: 39 62 137;
    --color-indigo-dark-8: 47 78 178;
    --color-indigo-dark-9: 62 99 221;
    --color-indigo-dark-10: 83 115 231;
    --color-indigo-dark-11: 132 157 255;
    --color-indigo-dark-12: 238 241 253;
    --color-indigo-light-1: 253 253 254;
    --color-indigo-light-2: 248 250 255;
    --color-indigo-light-3: 240 244 255;
    --color-indigo-light-4: 230 237 254;
    --color-indigo-light-5: 217 226 252;
    --color-indigo-light-6: 198 212 249;
    --color-indigo-light-7: 174 192 245;
    --color-indigo-light-8: 141 164 239;
    --color-indigo-light-9: 62 99 221;
    --color-indigo-light-10: 58 92 204;
    --color-indigo-light-11: 52 81 178;
    --color-indigo-light-12: 16 29 70;

    --color-blue-dark-1: 15 23 32;
    --color-blue-dark-2: 15 27 45;
    --color-blue-dark-3: 16 36 62;
    --color-blue-dark-4: 16 42 76;
    --color-blue-dark-5: 15 48 88;
    --color-blue-dark-6: 13 56 104;
    --color-blue-dark-7: 10 68 129;
    --color-blue-dark-8: 9 84 165;
    --color-blue-dark-9: 0 145 255;
    --color-blue-dark-10: 54 158 255;
    --color-blue-dark-11: 82 169 255;
    --color-blue-dark-12: 234 246 255;
    --color-blue-light-1: 251 253 255;
    --color-blue-light-2: 245 250 255;
    --color-blue-light-3: 237 246 255;
    --color-blue-light-4: 225 240 255;
    --color-blue-light-5: 206 231 254;
    --color-blue-light-6: 183 217 248;
    --color-blue-light-7: 150 199 242;
    --color-blue-light-8: 94 176 239;
    --color-blue-light-9: 0 145 255;
    --color-blue-light-10: 0 129 241;
    --color-blue-light-11: 0 106 220;
    --color-blue-light-12: 0 37 77;

    --color-cyan-dark-1: 7 25 29;
    --color-cyan-dark-2: 6 30 36;
    --color-cyan-dark-3: 7 40 48;
    --color-cyan-dark-4: 7 48 59;
    --color-cyan-dark-5: 7 56 68;
    --color-cyan-dark-6: 6 65 80;
    --color-cyan-dark-7: 4 80 99;
    --color-cyan-dark-8: 0 100 125;
    --color-cyan-dark-9: 5 162 194;
    --color-cyan-dark-10: 0 177 204;
    --color-cyan-dark-11: 0 194 215;
    --color-cyan-dark-12: 225 248 250;
    --color-cyan-light-1: 250 253 254;
    --color-cyan-light-2: 242 252 253;
    --color-cyan-light-3: 231 249 251;
    --color-cyan-light-4: 216 243 246;
    --color-cyan-light-5: 196 234 239;
    --color-cyan-light-6: 170 222 230;
    --color-cyan-light-7: 132 205 218;
    --color-cyan-light-8: 61 185 207;
    --color-cyan-light-9: 5 162 194;
    --color-cyan-light-10: 8 148 179;
    --color-cyan-light-11: 12 119 146;
    --color-cyan-light-12: 4 49 60;

    --color-teal-dark-1: 9 25 21;
    --color-teal-dark-2: 4 32 27;
    --color-teal-dark-3: 6 41 35;
    --color-teal-dark-4: 7 49 43;
    --color-teal-dark-5: 8 57 50;
    --color-teal-dark-6: 9 68 60;
    --color-teal-dark-7: 11 84 74;
    --color-teal-dark-8: 12 109 98;
    --color-teal-dark-9: 18 165 148;
    --color-teal-dark-10: 16 179 163;
    --color-teal-dark-11: 10 197 179;
    --color-teal-dark-12: 225 250 244;
    --color-teal-light-1: 250 254 253;
    --color-teal-light-2: 241 252 250;
    --color-teal-light-3: 231 249 245;
    --color-teal-light-4: 217 243 238;
    --color-teal-light-5: 199 235 229;
    --color-teal-light-6: 175 223 215;
    --color-teal-light-7: 141 206 195;
    --color-teal-light-8: 83 185 171;
    --color-teal-light-9: 18 165 148;
    --color-teal-light-10: 14 152 136;
    --color-teal-light-11: 6 122 111;
    --color-teal-light-12: 16 48 43;

    --color-green-dark-1: 13 25 18;
    --color-green-dark-2: 12 31 23;
    --color-green-dark-3: 15 41 30;
    --color-green-dark-4: 17 49 35;
    --color-green-dark-5: 19 57 41;
    --color-green-dark-6: 22 68 48;
    --color-green-dark-7: 27 84 58;
    --color-green-dark-8: 35 110 74;
    --color-green-dark-9: 48 164 108;
    --color-green-dark-10: 60 177 121;
    --color-green-dark-11: 76 195 138;
    --color-green-dark-12: 229 251 235;
    --color-green-light-1: 251 254 252;
    --color-green-light-2: 242 252 245;
    --color-green-light-3: 233 249 238;
    --color-green-light-4: 221 243 228;
    --color-green-light-5: 204 235 215;
    --color-green-light-6: 180 223 196;
    --color-green-light-7: 146 206 172;
    --color-green-light-8: 91 185 140;
    --color-green-light-9: 48 164 108;
    --color-green-light-10: 41 151 100;
    --color-green-light-11: 24 121 78;
    --color-green-light-12: 21 50 38;

    --color-grass-dark-1: 13 25 18;
    --color-grass-dark-2: 15 30 19;
    --color-grass-dark-3: 19 40 25;
    --color-grass-dark-4: 22 48 29;
    --color-grass-dark-5: 25 57 33;
    --color-grass-dark-6: 29 68 39;
    --color-grass-dark-7: 36 85 48;
    --color-grass-dark-8: 47 110 59;
    --color-grass-dark-9: 70 167 88;
    --color-grass-dark-10: 85 180 103;
    --color-grass-dark-11: 99 193 116;
    --color-grass-dark-12: 229 251 235;
    --color-grass-light-1: 251 254 251;
    --color-grass-light-2: 243 252 243;
    --color-grass-light-3: 235 249 235;
    --color-grass-light-4: 223 243 223;
    --color-grass-light-5: 206 235 207;
    --color-grass-light-6: 183 223 186;
    --color-grass-light-7: 151 207 156;
    --color-grass-light-8: 101 186 117;
    --color-grass-light-9: 70 167 88;
    --color-grass-light-10: 61 154 80;
    --color-grass-light-11: 41 124 59;
    --color-grass-light-12: 27 49 30;

    --color-orange-dark-1: 31 18 6;
    --color-orange-dark-2: 43 20 0;
    --color-orange-dark-3: 57 26 3;
    --color-orange-dark-4: 68 31 4;
    --color-orange-dark-5: 79 35 5;
    --color-orange-dark-6: 95 42 6;
    --color-orange-dark-7: 118 50 5;
    --color-orange-dark-8: 148 62 0;
    --color-orange-dark-9: 247 104 8;
    --color-orange-dark-10: 225 128 43;
    --color-orange-dark-11: 255 239 62;
    --color-orange-dark-12: 254 234 221;
    --color-orange-light-1: 254 252 251;
    --color-orange-light-2: 254 248 244;
    --color-orange-light-3: 255 241 231;
    --color-orange-light-4: 255 232 215;
    --color-orange-light-5: 255 220 195;
    --color-orange-light-6: 255 204 167;
    --color-orange-light-7: 255 179 129;
    --color-orange-light-8: 250 147 78;
    --color-orange-light-9: 247 104 8;
    --color-orange-light-10: 237 95 0;
    --color-orange-light-11: 189 75 0;
    --color-orange-light-12: 69 30 17;

    --color-brown-dark-1: 25 21 19;
    --color-brown-dark-2: 34 24 19;
    --color-brown-dark-3: 46 32 26;
    --color-brown-dark-4: 54 38 30;
    --color-brown-dark-5: 62 44 34;
    --color-brown-dark-6: 75 53 40;
    --color-brown-dark-7: 92 67 50;
    --color-brown-dark-8: 119 89 64;
    --color-brown-dark-9: 173 127 88;
    --color-brown-dark-10: 189 139 96;
    --color-brown-dark-11: 219 161 110;
    --color-brown-dark-12: 250 240 229;
    --color-brown-light-1: 254 253 252;
    --color-brown-light-2: 252 249 246;
    --color-brown-light-3: 248 241 234;
    --color-brown-light-4: 244 233 221;
    --color-brown-light-5: 239 221 204;
    --color-brown-light-6: 232 205 181;
    --color-brown-light-7: 221 184 150;
    --color-brown-light-8: 208 158 114;
    --color-brown-light-9: 173 127 88;
    --color-brown-light-10: 160 118 83;
    --color-brown-light-11: 136 99 73;
    --color-brown-light-12: 63 44 34;

    --color-sky-dark-1: 12 24 32;
    --color-sky-dark-2: 7 29 42;
    --color-sky-dark-3: 8 38 54;
    --color-sky-dark-4: 8 45 65;
    --color-sky-dark-5: 8 53 76;
    --color-sky-dark-6: 8 62 89;
    --color-sky-dark-7: 6 75 107;
    --color-sky-dark-8: 0 93 133;
    --color-sky-dark-9: 104 221 253;
    --color-sky-dark-10: 138 232 255;
    --color-sky-dark-11: 46 200 238;
    --color-sky-dark-12: 234 248 255;
    --color-sky-light-1: 249 254 255;
    --color-sky-light-2: 241 252 255;
    --color-sky-light-3: 228 249 255;
    --color-sky-light-4: 213 244 253;
    --color-sky-light-5: 193 236 249;
    --color-sky-light-6: 164 223 241;
    --color-sky-light-7: 121 207 234;
    --color-sky-light-8: 46 189 229;
    --color-sky-light-9: 104 221 253;
    --color-sky-light-10: 95 212 244;
    --color-sky-light-11: 0 120 161;
    --color-sky-light-12: 0 50 66;

    --color-mint-dark-1: 8 25 23;
    --color-mint-dark-2: 5 32 30;
    --color-mint-dark-3: 5 41 38;
    --color-mint-dark-4: 4 49 44;
    --color-mint-dark-5: 3 58 52;
    --color-mint-dark-6: 1 69 61;
    --color-mint-dark-7: 0 86 74;
    --color-mint-dark-8: 0 109 91;
    --color-mint-dark-9: 112 225 200;
    --color-mint-dark-10: 149 243 217;
    --color-mint-dark-11: 37 208 171;
    --color-mint-dark-12: 231 252 247;
    --color-mint-light-1: 249 254 253;
    --color-mint-light-2: 239 254 250;
    --color-mint-light-3: 225 251 244;
    --color-mint-light-4: 210 246 237;
    --color-mint-light-5: 192 239 227;
    --color-mint-light-6: 165 228 212;
    --color-mint-light-7: 125 212 192;
    --color-mint-light-8: 64 196 170;
    --color-mint-light-9: 112 225 200;
    --color-mint-light-10: 105 217 193;
    --color-mint-light-11: 20 125 111;
    --color-mint-light-12: 9 52 46;

    --color-lime-dark-1: 20 24 7;
    --color-lime-dark-2: 24 29 8;
    --color-lime-dark-3: 30 38 13;
    --color-lime-dark-4: 37 46 15;
    --color-lime-dark-5: 43 55 17;
    --color-lime-dark-6: 52 66 19;
    --color-lime-dark-7: 65 82 21;
    --color-lime-dark-8: 83 103 22;
    --color-lime-dark-9: 153 213 42;
    --color-lime-dark-10: 196 240 66;
    --color-lime-dark-11: 135 190 34;
    --color-lime-dark-12: 239 251 221;
    --color-lime-light-1: 252 253 250;
    --color-lime-light-2: 247 252 240;
    --color-lime-light-3: 238 250 220;
    --color-lime-light-4: 228 247 199;
    --color-lime-light-5: 215 242 176;
    --color-lime-light-6: 201 232 148;
    --color-lime-light-7: 177 209 106;
    --color-lime-light-8: 148 186 44;
    --color-lime-light-9: 153 213 42;
    --color-lime-light-10: 147 201 38;
    --color-lime-light-11: 93 119 13;
    --color-lime-light-12: 38 50 9;

    --color-yellow-dark-1: 28 21 0;
    --color-yellow-dark-2: 34 26 0;
    --color-yellow-dark-3: 44 33 0;
    --color-yellow-dark-4: 53 40 0;
    --color-yellow-dark-5: 62 48 0;
    --color-yellow-dark-6: 73 60 0;
    --color-yellow-dark-7: 89 74 5;
    --color-yellow-dark-8: 112 94 0;
    --color-yellow-dark-9: 245 217 10;
    --color-yellow-dark-10: 255 239 92;
    --color-yellow-dark-11: 240 192 0;
    --color-yellow-dark-12: 255 250 209;
    --color-yellow-light-1: 253 253 249;
    --color-yellow-light-2: 255 252 232;
    --color-yellow-light-3: 255 251 209;
    --color-yellow-light-4: 255 248 187;
    --color-yellow-light-5: 254 242 164;
    --color-yellow-light-6: 249 230 140;
    --color-yellow-light-7: 239 211 108;
    --color-yellow-light-8: 235 188 0;
    --color-yellow-light-9: 245 217 10;
    --color-yellow-light-10: 247 206 0;
    --color-yellow-light-11: 148 104 0;
    --color-yellow-light-12: 53 41 15;

    --color-amber-dark-1: 31 19 0;
    --color-amber-dark-2: 39 23 0;
    --color-amber-dark-3: 52 28 0;
    --color-amber-dark-4: 63 34 0;
    --color-amber-dark-5: 74 41 0;
    --color-amber-dark-6: 87 51 0;
    --color-amber-dark-7: 105 63 5;
    --color-amber-dark-8: 130 78 0;
    --color-amber-dark-9: 255 178 36;
    --color-amber-dark-10: 255 203 71;
    --color-amber-dark-11: 241 161 13;
    --color-amber-dark-12: 254 243 221;
    --color-amber-light-1: 254 253 251;
    --color-amber-light-2: 255 249 237;
    --color-amber-light-3: 255 244 213;
    --color-amber-light-4: 255 236 188;
    --color-amber-light-5: 255 227 162;
    --color-amber-light-6: 255 211 134;
    --color-amber-light-7: 243 186 99;
    --color-amber-light-8: 238 157 43;
    --color-amber-light-9: 255 178 36;
    --color-amber-light-10: 255 160 28;
    --color-amber-light-11: 173 87 0;
    --color-amber-light-12: 78 32 9;

    --site-magnum-primary: 0 0 0;
    --site-magnum-secondary: 254 194 10;
    --site-damacai-primary: 28 55 123;
    --site-damacai-secondary: 233 24 27;
    --site-toto-primary: 236 32 36;
    --site-toto-secondary: 0 0 0;
    --site-sg-primary: 0 147 216;
    --site-sg-secondary: 0 74 139;
    --site-stc-primary: 245 197 0;
    --site-stc-secondary: 0 122 55;
    --site-sabah-primary: 250 4 4;
    --site-sabah-secondary: 0 101 163;
    --site-sdk-primary: 246 198 2;
    --site-sdk-secondary: 0 122 55;
    --site-cashswee-primary: 16 162 38;
    --site-cashswee-secondary: 213 0 0;
    --site-lucky-primary: 26 129 187;
    --site-lucky-secondary: 19 73 116;
    --site-predana-primary: 29 104 162;
    --site-predana-secondary: 247 0 0;
    --site-gd-primary: 238 24 40;
    --site-gd-secondary: 254 194 10;
    --site-wb-primary: 95 45 132;
    --site-wb-secondary: 180 78 242;
  }
}
